*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


.main{
    display: grid;
    grid-template-columns: 30% 70%;
}

.container{
    display: grid;
    width: 20%;
    margin: 10px 50px;
    gap: 10px;
}

.container input{
    padding: 10px;
    font-size: medium;
}
fieldset{
    border: none;
}

.table{
    margin: 10px 10px;
}

table{
    text-align: center;
    width: 100%;
    border: 1px solid black;
}

table tr td{
    border: 1px solid black;
}

#selector{
    margin: 50% auto;
}
#selector button{
    width: 100%;
}
.inside-selector{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inside-selector button{
    width: 50%;
}


#del-selector{
    margin: 50% auto;
}

#del-selector button{
    width: 100%;
}
